# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
# THESE ARE NOT REQUIRED
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

CLOUDFLARE_KEY=""
CLOUDFLARE_ID=""

LOGIN_FRIEND_SECRET="friendsOnly2025"
# Cloudflare image account hash
PUBLIC_CLOUDFLARE_IMAGE="7-GJsM-..."

PUBLIC_CLOUDFLARE_STREAM_CUSTOMER="bbr7..."

# Upload alerts
DISCORD_WEBHOOK_URL=""